.expense-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: grid;

  grid-template-columns:
    230px
    120px
    120px
    150px
    150px
    100px
    100px;

  align-items: center;
}
.expense-item button {
  padding: 2px 8px;

  font-size: 12px;
}
.expense-item h3,
.expense-item p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.excluded {
  opacity: 0.5;
}

.expense-item button {
  width: 70px;
  padding: 4px 8px;
  font-size: 12px;
}

.edit-btn,
.delete-btn {
  width: 70px;

  padding: 4px 8px;

  font-size: 12px;
}
